<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kz.step.stepeducation">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.activity.RegistrationSimulatorActivity"></activity>
        <activity android:name=".presentation.activity.MoviesActivity" />
        <activity android:name=".presentation.activity.NotesActivity" />
        <activity android:name=".presentation.activity.RegisteredUserInfoActivity" />
        <activity android:name=".presentation.activity.UserRegistrationActivity" />
        <activity android:name=".presentation.activity.SpeechRecognizerActivity" />
        <activity android:name=".presentation.activity.NewLoginActivity" />
        <activity android:name=".presentation.activity.WhatsappActivity" />
        <activity android:name=".presentation.activity.APIVersionActivity" />
        <activity android:name=".presentation.activity.ShoppingListActivity" />
        <activity android:name=".presentation.activity.LoginActivity" />
        <activity android:name=".presentation.activity.TestActivity" />
        <activity android:name=".presentation.activity.PhotoActivity" />
        <activity android:name=".presentation.activity.DataActivity2" />
        <activity android:name=".presentation.activity.DataActivity1" />
        <activity android:name=".presentation.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.activity.StudentsActivity" />
    </application>

</manifest>