<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kz.step.stepeducation">

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_new_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NewLoginActivity"/>
        <activity android:name=".WhatsappActivity" />
        <activity android:name=".APIVersionActivity" />
        <activity android:name=".ShoppingListActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".PhotoActivity" />
        <activity android:name=".DataActivity2" />
        <activity android:name=".DataActivity1" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StudentsActivity" />
    </application>

</manifest>